<form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
  <button class="btn btn-success" (click)="voltar()">Voltar</button>

  <h1>Editar Cliente</h1>

  <hr>
  <h2>Dados Pessoais</h2>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label for="nome">Nome</label>
        <input type="text" class="form-control" id="nome" formControlName="nome" required>
        <div *ngIf="f['nome'].touched && f['nome'].invalid" class="text-danger">
          <small *ngIf="f['nome'].errors?.['required']">Nome é obrigatório.</small>
          <small *ngIf="f['nome'].errors?.['minlength']">Mínimo de 3 caracteres.</small>
        </div>
    </div>
    <div class="form-group col-md-6">
      <label for="fantasia">Fantasia</label>
      <input type="text" class="form-control" id="fantasia" formControlName="fantasia">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="tipo_pessoa">Tipo de Pessoa</label>
      <select class="form-control" id="tipo_pessoa" formControlName="tipo_pessoa" required>
        <option value="Fisica">Física</option>
        <option value="Juridica">Jurídica</option>
      </select>
    </div>
    <div class="form-group col-md-4">
      <label for="cpf_cnpj">CPF / CNPJ</label>
      <input type="text" class="form-control" id="cpf_cnpj" formControlName="cpf_cnpj" required>
      <div *ngIf="f['cpf_cnpj'].touched && f['cpf_cnpj'].invalid" class="text-danger">
          <small *ngIf="f['cpf_cnpj'].errors?.['required']">CPF ou CNPJ é obrigatório.</small>
          <small *ngIf="f['cpf_cnpj'].errors?.['pattern']">Deve ter 11 ou 14 dígitos numéricos.</small>
      </div>
    </div>
    <div class="form-group col-md-4">
      <label for="rg_ie">RG / Inscrição Estadual</label>
      <input type="text" class="form-control" id="rg_ie" formControlName="rg_ie">
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="tipo_regime_apuracao">Tipo de Regime de Apuração</label>
      <input type="text" class="form-control" id="tipo_regime_apuracao" formControlName="tipo_regime_apuracao">
    </div>
    <div class="form-group col-md-4">
      <label for="tipo_preco_venda">Tipo de Preço de Venda</label>
      <input type="text" class="form-control" id="tipo_preco_venda" formControlName="tipo_preco_venda">
    </div>
    <div class="form-group form-check col-md-3">
        <input type="checkbox" class="form-check-input" id="ativo" formControlName="ativo">
        <label class="form-check-label" for="ativo">Ativo</label>
    </div>
    <input type="hidden" formControlName="tipo_cadastro">
    <input type="hidden" formControlName="cadastro_tipo_id">
  </div>

  <button type="submit" class="btn btn-primary mt-4" [disabled]="!clienteForm.valid">Atualizar Cliente</button>
</form>
